<div class="vh-100 position-relative d-flex flex-column">
  <!-- 404 Start -->
  <div
    class="container-fluid py-5 object-fit-cover flex-fill"
    style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))"
  >
    <div class="container py-5 text-center">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
          <h1 class="display-1">{{ code }}</h1>
          <h1 class="mb-4 text-dark">{{ message }}</h1>
          <p class="mb-4 text-dark">
            You've been redirected to this page because we expirienced problems
            trying to render the page you just tried accessing. Maybe go to our
            home page, or try contacting tech support?
          </p>
          <a class="btn btn-primary btn-hover-bg py-3 px-5" routerLink="/"
            >Go Back Home</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- 404 End -->
</div>
