@if(appFooterContainerCSSClass){
<!--begin::Footer container-->
<div class="app-container" [ngClass]="appFooterContainerCSSClass">
  <ng-container *ngTemplateOutlet="footerView" />
</div>
<!--end::Footer container-->
} @if(!appFooterContainerCSSClass){
<ng-container *ngTemplateOutlet="footerView" />
}

<ng-template #footerView>
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted fw-semibold me-1">{{currentDateStr}}&copy;</span>
    <a
      href="https://developmenthub.co.za"
      target="_blank"
      class="text-gray-800 text-hover-primary"
      >DevelopmentHub</a
    >
  </div>
  <!--end::Copyright-->

  <!--begin::Menu-->
  <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
    <li class="menu-item">
      <a
        href="https://developmenthub.co.za/about/"
        target="_blank"
        class="menu-link px-2"
        >About</a
      >
    </li>

    <li class="menu-item">
      <a
        href="https://developmenthub.co.za/contact/"
        target="_blank"
        class="menu-link px-2"
        >Support</a
      >
    </li>

    <li class="menu-item">
      <a
        href="https://developmenthub.co.za/products/"
        target="_blank"
        class="menu-link px-2"
        >Products</a
      >
    </li>
  </ul>
  <!--end::Menu-->
</ng-template>
