<div class="card rounded-0">
    <div class="card-body">
        <div class="d-flex justify-content-end"><a routerLink="/org/add" class="btn btn-dark rounded-0">Add New</a></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" sortable="_isEditMode" (sort)="onSort($event)">Company Name</th>
                    <th scope="col" sortable="_isEditMode" (sort)="onSort($event)">Physical Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(org of companies$ | async; track org.id){
                <tr>
                    <th scope="row">{{ org.name }}</th>
                    <th scope="row">{{ org.address }}</th>
                    <th scope="row">
                        <a class="" [routerLink]="['/org/update',org.id]"><widget-icon name="message-edit" class="fs-1 text-dark" /></a>
                        <a class="" (click)="onDelete(org.id)" style="cursor: pointer"><widget-icon name="delete-files" class="fs-1 text-danger" /></a>
                    </th>
                </tr>
                }@empty {
                <tr>
                    <td colspan="3" style="text-align: center">No Companies Found</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
