<div class="card rounded-0">
    <div class="card-body">
        <div class="d-flex justify-content-end"><a routerLink="/org" class="btn btn-secondary rounded-0">Return</a></div>
        <form class="row g-3" [formGroup]="details" autocomplete="off">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Company Name</label>
                <input type="email" class="form-control rounded-0" formControlName="name" />
            </div>
            <div class="col-md-6">
                <label for="inputAddress" class="form-label">Physical Address</label>
                <input type="text" class="form-control rounded-0" formControlName="address" placeholder="1234 Main St" />
            </div>
            <div class="col-12 mt-6">
                <button type="submit" class="btn btn-dark rounded-0" (click)="onSave()">Save</button>
            </div>
        </form>
    </div>
</div>
