<!--begin::Menu wrapper-->
<div
  id="kt_app_sidebar_menu_wrapper"
  class="app-sidebar-wrapper hover-scroll-overlay-y my-5"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-rounded menu-sub-indention px-3"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <!-- Companies -->
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLink="/org"
        routerLinkActive="active"
      >
        <span class="menu-icon">
          <widget-icon name="bank" class="fs-2" />
        </span>
        <span class="menu-title">Companies</span>
      </a>
    </div>

    <!-- Employees -->
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLink="/staff"
        routerLinkActive="active"
      >
        <span class="menu-icon">
          <widget-icon name="user" class="fs-2" />
        </span>
        <span class="menu-title">Employees</span>
      </a>
    </div>
  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
