<div class="card rounded-0">
    <div class="card-body">
        <div class="d-flex justify-content-end"><a routerLink="/staff" class="btn btn-secondary rounded-0">Return</a></div>
        <form class="row g-3" [formGroup]="details" autocomplete="off">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">First Name</label>
                <input type="email" class="form-control rounded-0" formControlName="firstname" />
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Last Name</label>
                <input type="text" class="form-control rounded-0" formControlName="lastname" />
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control rounded-0" formControlName="email" />
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Id Number</label>
                <input type="text" class="form-control rounded-0" formControlName="idnumber" />
            </div>
            <div class="col-12 mt-6">
                <button type="submit" class="btn btn-dark rounded-0" (click)="onSave()">Save</button>
            </div>
        </form>
    </div>
</div>
