<div class="card rounded-0">
    <div class="card-body">
        <div class="d-flex justify-content-end"><a routerLink="/staff/add" class="btn btn-dark rounded-0">Add New</a></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" sortable="_isEditMode" (sort)="onSort($event)">First Name</th>
                    <th scope="col" sortable="_isEditMode" (sort)="onSort($event)">Last Name</th>
                    <th scope="col" sortable="_isEditMode" (sort)="onSort($event)">Email Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(emp of employees$ | async; track emp.id){
                <tr>
                    <th scope="row">{{ emp.firstname }}</th>
                    <th scope="row">{{ emp.lastname }}</th>
                    <th scope="row">{{ emp.email }}</th>
                    <th scope="row">
                        <a class="" [routerLink]="['/staff/update',emp.id]"><widget-icon name="message-edit" class="fs-1 text-dark" /></a>
                        <a class="" (click)="onDelete(emp.id)" style="cursor:pointer" ><widget-icon name="delete-files" class="fs-1 text-danger" /></a>
                    </th>
                </tr>
                }@empty {
                <tr>
                    <td colspan="3" style="text-align: center">No Employees Found</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
