<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
  <!--begin::Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    @if(appHeaderDisplay){
    <!--begin::Header-->
    <theme-header
      id="kt_app_header"
      class="app-header"
      [ngClass]="appHeaderDefaultClass"
    />
    <!--end::Header-->
    }
    <!--begin::Wrapper-->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      @if(appSidebarDisplay){
      <!--begin::sidebar-->
      <theme-sidebar
        #ktSidebar
        id="kt_app_sidebar"
        class="app-sidebar flex-column"
        [ngClass]="appSidebarDefaultClass"
      />
      <!--end::sidebar-->
      }
      <!--begin::Main-->
      <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid">
          @if(appToolbarDisplay){
          <theme-toolbar
            class="app-toolbar"
            [ngClass]="appToolbarCSSClass"
            id="kt_app_toolbar"
            [appToolbarLayout]="appToolbarLayout"
          />
          }
          <theme-content
            id=" kt_app_content"
            class="app-content"
            [ngClass]="contentCSSClasses"
            [contentContainerCSSClass]="contentContainerCSSClass"
            [appContentContiner]="appContentContiner"
            [appContentContainerClass]="appContentContainerClass"
          >
          </theme-content>
        </div>
        <!--end::Content wrapper-->
        @if(appFooterDisplay){
        <theme-footer
          class="app-footer"
          [ngClass]="appFooterCSSClass"
          id="kt_app_footer"
          [appFooterContainerCSSClass]="appFooterContainerCSSClass"
        />
        }
      </div>
      <!--end::Main-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::App-->
